---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Matthew Morrow"
	description="About Matthew Morrow Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="See below to delve deeper into my personal, professional, and academic background to learn more."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/museum.jpeg"
					alt="Matthew Morrow posing in a museum"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Professional Summary</h2>
				<div class="content">
					<p>
						Detail-oriented, inquisitive, and passionate
						professional with over 5 years of experience in
						healthcare and public health-based government
						contracting. Skilled in data analytics, project
						management, and interdisciplinary team collaboration.
						Proficient in Python and Java, with experience in
						various cloud platforms, visualization tools, and other
						programming languages. Adaptable and able to excel in
						fast-paced environments. Seeking a bioinformatics role
						to leverage my strong skill set and contribute to the
						success and growth of a dynamic organization.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Johns Hopkins University, 2018&mdash;2022</p>
					<ul>
						<li>
							<i>Master of Science in Bioinformatics, GPA 4.0</i>
						</li>
					</ul>
					<p>Clemson University, 2012&mdash;2017</p>
					<ul>
						<li>
							<i
								>Bachelor of Science in Genetics / Minor in
								Business Administration</i
							>
						</li>
						<li>
							<i
								>Bachelor of Science in Biochemistry / Minor in
								Biology</i
							>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Work Experience</h2>

				<div class="content">
					<p>Hendall, Inc. / Rockville, MD / 2018&mdash;Present</p>
					<ul>
						<li>
							<i
								>Project Support Specialist / Dec. 2021 to
								Present</i
							><br />Supporting the Administration for Children
							and Families Head Start Information and
							Communication Center (HSICC) project.
							<ul>
								<li>
									Oversee the modernization of analytics
									tracking, the implementation of advanced web
									tracking analytics, and
									dashboard/visualization efforts for the
									Early Childhood Learning & Knowledge Center
									(ECLKC) website contributing to a marked
									225% increase in views, users, and sessions
									from 2021 to 2023.
								</li><li>
									Develop robust analytics and subsequent
									reporting pipeline to measure the impact of
									marketing, technical, and user experience
									change efforts resulting in—improving
									engagement, adoption, and authoritative
									representation to a wide audience base of
									over 250K average monthly users.
								</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<i>Research Analyst / Sep. 2018 to Dec. 2021</i><br
							/>
							<i>Contract Efforts</i><br />
							 Assisting various U.S. Department of Health and
							Human Services communication, education, and
							outreach initiatives, conducted reviews and analyses
							of data sources, produced reports and presentations,
							offered ad hoc support to program and project
							personnel for technical assignments and innovation
							efforts, and presented actionable recommendations to
							program leadership.<br />Maintained the Substance
							Abuse and Mental Health Services Administration's
							(SAMHSA) mass email public engagement and awareness
							system boasting over 200K subscribers through
							MailChimp.<ul>
								<li>
									Implemented eBlast data analytics pipelines
									using Python and SQL, resulting in more
									data-driven decision-making surrounding
									communication efforts and MoM growth within
									the Public Engagement Platform
								</li>
							</ul>
							<i>Corporate Efforts</i><br />
							 In support of the COO, the role involved reviewing
							and offering feedback on project deliverables,
							organizing meetings and managing project budgets,
							researching business opportunities, tracking
							solicitations, reviewing intelligence reports for
							new opportunities, automated reporting for Division
							Directors, and providing writing support for
							proposals and marketing activities.<ul>
								<li>
									Contributed to the success of the
									organization, realizing an approximate 175%
									increase in federal prime contract
									obligations from $16M in 2018 to $44M in
									2021
								</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<i
								>Documentation Specialist / Jun. 2018 to Sep.
								2018</i
							><br />Recognize instances of non-compliance,
							spearhead efficient corrective actions, and verify
							that documentation aligns with Section 508 standards
							prior to publication on client's public facing
							government sites. Remediation involved the use of
							several accessibility tools, document formats,
							and/or HTML source pages.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills and Expertise</h2>
				<div class="content">
					<p>Programming and Web Development</p>
					<ul>
						<li>Python, Java, SQL, R, and Javascript</li>
						<li>HTML, CSS, Markdown</li>
						<li>Django, Docker, Flask</li>
					</ul>
					<p>Bioinformatics Software and Services</p>
					<ul>
						<li>
							BioConductor, BioEdit, BLAST/BLAT, Clustal (MSA),
							dnaSP, Galaxy, Genome Browsers (Ensembl, IGB, NCBI,
							UCSB), HMMER, MEGA, Tuxedo (Bowtie, Cufflinks,
							TopHat), UGENE
						</li>
					</ul>
					<p>Other Software and Services</p>
					<ul>
						<li>
							Google &ndash; GCP (BigQuery, Functions, Scheduler),
							Analytics, Firebase, Looker, and Tag Manger
						</li>
						<li>
							Microsoft &ndash; Azure, GitHub, Power Platform,
							Office 365 (Excel, PowerPoint, Visio, Word), VS Code
						</li>
						<li>
							Atlassian &ndash; BitBucket, Confluence, Jira,
							Trello
						</li>
						<li>
							eBlast &ndash; CampaignMonitor, Cision, MailChimp,
							MailJet, and MailGun
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications and Training</h2>
				<div class="content">
					<p>Certified CMMI 2.0 Associate, ISACA #81939781</p>
					<ul>
						<li>
							A CMMI certification enables individuals to improve
							organizational operations, to enhance processes and
							practices within each, to produce higher-quality
							products, to increase efficiencies, and to
							contribute to organizational maturity.
						</li>
					</ul>
					<p>LinkedIn Learning Trainings</p>
					<ul>
						<li>
							Business Ethics / Business Ethics for Managers and
							Leaders, 12/2022
						</li>
						<li>Google Analytics, 08/2022</li>
						<li>
							Google Analytics 4 (GA4) Essential Training, 04/2022
						</li>
						<li>
							Project Management: Government Projects, 11/2021
						</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	ul li::marker {
		color: #6495ed;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
